# This file is needed for the engine to not crash now.
# Later it would be made so that engine can run without this file.
# If you want to modify any value just uncomment the section and value and use them.

#[display]
# List of supported resolutions
# The values should be specified as is otherwise system won't detect them
# 720x400
# 640x480
# 800x600
# 1024x768
# 1360x768
# 1366x768
# default is 800x600 and will be chosen if an unsupported or illegal value is passed
#resolution = 800x600

# Sets the background color of the display.
#background = #282a36

#[engine]
# The amount of time display is refreshed per second.
# If you use this option keep in mind that you cannot set negative value.
# And if you set a very high value it would impact performace.
# And low value make crappy experience.
# Don't give a floating value it would discard the . and you will have a bad time.
#render rate = 60

[world]
width = 500
height = 500
size = 50
positionx = 20
positiony = 20
thickness = 3
color = #44475a